p {
    text-align: justify;
    color: #333333;
    margin-left: 21%;
    margin-right: 21%;
    font-family: "Old Standard TT", serif;
}

h1 {
    font-size: 325%;
    text-align: center;
    color: #444444;
    font-family: "Old Standard TT", serif;
    margin-bottom: 3%;
}

H4 {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    font-size: 75%;
    word-spacing: 100px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 3%;
}

h5 {
    font-weight: normal;
    font-size: 110%;
    text-align: center;
    color: #333333;
    font-family: "Old Standard TT", serif;
    margin-bottom: 2%;
}

footer {
  font-size: 50%;
  text-align: justify;
  color: #555555;
  margin-left: 21%;
  margin-right: 21%;
  font-family: "Old Standard TT", serif;
}

.header-links {
  word-spacing: 100px;
  text-align: center;
  margin-left: -50%;
  margin-right: -50%;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin-top: 1%;
  margin-bottom: 5%;
}

.header-links a {
    color: #340069;
    font-size: 75%;
}
